/* portfolio style sheet */

* {
    box-sizing: border-box;
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 14px;
    color: white;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
    flex: 1;
}

.banner{
    display: flex;
    align-items: center;
    gap: 400px;
}

.banner .banner-right{
    display: flex;
    flex-direction: column;
}

.banner-right figure{
    flex-basis: 3;
}

a {
    color: aqua;
}
