* {
    color: black;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightgray;
    flex-wrap: wrap;
}

h1, h2{
    font-weight: 800;
}


ul {
    list-style-type: square;
}

a {
    color: rgb(166, 0, 116);
    font-weight: 500;
    font-size: large;
    text-decoration: underline;
}

.banner {
    display: flex;
    gap: 64px;
    background-color: darkgray;
}

.logo {
    width: 100px;
    height: auto;
}

hr {
    flex: 0 0 100%;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-right {
    display: flex;
    flex-direction: column;
}

.banner-right p{
    font-style: italic;
    text-align: right;
}

.main-content {
    flex: 1;
}

footer {
    justify-self: flex-end;
    text-align: center;
    background-color: darkgray;
}
