@media print{
    nav, footer, #sidebar {display: none;}
    #email-form {box-shadow: none;}
    p, li, td { font-size: 20px; }
    h1, h2, h3 { font-size: 24px; }

    * {
        background-image: none !important;
        background-color: white;
    }
}